.input-container {
	border-radius: 5px;
  padding: 10px;
  width:65%;
}

.photo {
	list-style: none;
	display: grid;
	grid-template-columns: 20px auto;
	margin-top: 20px;
	align-items: center;
	background-color: #e9edf0;
	padding: 30px 50px;
	border-radius: 5px;
	border: 1px solid #e3e3e3;
}